body {
    margin: 0;
    padding: 0;
    background-color: black;
}
.card {
    display: inline-block;
    border: 1px solid black;
    height: 280px;
    width: 200px;
    background-color: #00D5E8;
}

.row {
    text-align: center;
}

img {
    display: none;
    border: 1px solid black;
    height: 280px;
    width: 200px;
    background-color: #00D5E8;
}